body {
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
   background-color: white;
}

.keyOfficalsTitle {
    z-index: 1;
    height: 30px;
    width: 300px;
    
    position:absolute;
    top: 0px;
    left: 0px;
    
    font-size: 14px;
    font-weight: bold;
    background-color: #223D8F;
    color: white;
    
    text-align: center;
    vertical-align: middle;
    line-height: 5px;
    overflow: hidden;
    
         /* box shadowing 
-moz-box-shadow: 3px 3px 3px 3px #CFCDCD;
-webkit-box-shadow: 3px 3px 3px 3px #CFCDCD;
box-shadow: 3px 3px 3px 3px #CFCDCD;*/
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.allKeyOfficials {
    height: 150px;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 0px;
}

.keyOfficialsChairmanTitle {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

.keyOfficialsSecretaryTitle {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

.keyOfficialsTreasurerTitle {
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

.keyOfficialsWelfareOfficerTitle {
    position: absolute;
    top: 90px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

.keyOfficialsChairmanName {
    position: absolute;
    top: 0px;
    left: 110;
    font-size: 14px;
    color: #223D8F;
}

.keyOfficialsSecretaryName {
    position: absolute;
    top: 30px;
    left: 110;
    font-size: 14px;
    color: #223D8F;
}

.keyOfficialsTreasurerName {
    position: absolute;
    top: 60px;
    left: 110;
    font-size: 14px;
    color: #223D8F;
}

.keyOfficialsWelfareOfficerName {
    position: absolute;
    top: 90px;
    left: 110;
    font-size: 14px;
    color: #223D8F;
}