body {
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


.feedCentrePage {
    /*all this centres all feed */
    z-index: -1;
    height: auto;
    width: 910px;
    position:absolute;
    top: 80px;
    left: 50%;
    margin-left: -455px;/*set to a negative number 1/2 of your width*/
}

.feedAddShoutBox {
    height: 150px;
    width: 910px;
    
    position: absolute;
    top: 0px;
    left: 0px;
    
   /* border-style: solid;
    border-width: 1px;
    border-color: #223D8F;*/
    
    /* rounding the corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.profilepic {
    z-index: 1;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: #223D8F;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;

    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.feedAddShoutTextBox {
    position: absolute;
    top: 0px;
    left: 165px;
    
    height: 150px;
    width: 745px;
    
    border-style: solid;
    border-width: 1px;
    border-color: #223D8F;
    /*background-color:#E7F3FF; 
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.feedUpdateShout {
    position: absolute;
    top: 10px;
    left: 10px;
    
    height: 130px;
    width: 725px;

    border: none;
    /*background-color:#E7F3FF;*/ 
    
    font-size: 22px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    resize: none;
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.feedUpdateShoutSubmit{
/* submit button properties */
position: absolute;
    top: 165;
    left: 830;
font-size: 16px;
    background-color: #223D8F;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #223D8F;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }

.feedUpdateShoutSubmit:hover{
cursor: pointer;
    }

.feedAllShouts {
    height: auto;
    width: 910px;

    position: absolute;
    top: 260px;
    left: 0px;
}

.feedNewShout {
    float: left;
    clear: both;
    height: auto;
    width: 910px;
    margin-top: 20px;
    /*
    border-style: solid;
    border-width: 1px;
    border-color: #223D8F;
    */
    background-color:#E7F3FF;
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.shoutProfilepic {
    width: 75px;
    height: 75px;
    float: left;
    clear: both;
    margin-top: 15px;
    margin-left: 15px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: #223D8F;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.deleteShoutSubmit {
    position: relative;
    top: -100px;
    right: -650px;
    font-size: 16px;
    background-color: #E7F3FF;
    border-style: none;
    
}

.deleteShoutSubmit:hover {
    cursor: pointer;
}


.shoutInformation {
   float: left;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 15px;
    width: 800;
    height: auto;
}

.shoutName {
    font-size: 16px;
    color: #223D8F;
    line-height: 2px;
}

.shoutTimestamp {
    font-size: 12px;
    color: lightgray; 
}

.shoutText {
    font-size: 16px;
    color: black;  
}





/* all below is related to feedLikes.php */
.numberOfLikes {
    color: gray;
    font-size: 12px;
    float: left;
    margin-top: -3px;
    margin-left: 10px;
}

.unLikeButton{
  float: left;
  margin-top: 10px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fc2e5a;
  padding: 0;
  border: 0;
}
.unLikeButton:before,
.unLikeButton:after{
  position: absolute;
  width: 10px;
  height: 10px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #fc2e5a;
}
.unLikeButton:before{
  bottom: 0px;
  left: -5px;
}
.unLikeButton:after{
  top: -5px;
  right: 0px;
}

.unLikeButton:hover{ 
 cursor: pointer;
}
.unLikeButton:hover:before{
 cursor: pointer;  
}
.unLikeButton:hover:after{
 cursor: pointer;  
}

.likeButton {
  float: left;
  margin-top: 10px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #223D8F;
  padding: 0;
  border: 0;
}

.likeButton:before,
.likeButton:after {
  position: absolute;
  width: 10px;
  height: 10px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #223D8F;
}

.likeButton:before {
  bottom: 0px;
  left: -5px;
}

.likeButton:after {
  top: -5px;
  right: 0px;
}


.likeButton:hover{ 
 cursor: pointer;
}
.likeButton:hover:before{
 cursor: pointer;  
}
.likeButton:hover:after{ 
 cursor: pointer;  
}





/* all below is for feedComments.php */
.numberOfComments {
    float: left;
    margin-top: -3px;
    margin-left: 30px;
    color: gray;
    font-size: 12px;
}

.numberOfComments:hover {
    cursor: pointer;
}
/*
.commentsDropdown {
    visibility: hidden;
    display: none;
}
*/
.allDifferentComments {
    float: left;
    clear: both;
    height: auto;
    width: 725px;
    margin-top: 5px;
    background-color: white;
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.deleteCommentSubmit {
    float: right;
    margin-top: -10px;
    font-size: 16px;
    background-color: white;
    border-style: none;
    
}

.deleteCommentSubmit:hover {
    cursor: pointer;
}

.commentName {
    padding-top: -10px;
    padding-left: 5px;
    font-size: 14px;
    color: #223D8F;
}

.commentTimestamp {
  font-size: 10px;
  margin-top: -10px;
  padding-left: 5px;
  color: lightgray; 
}

.commentText {
  font-size: 14px;
  padding-left: 5px;
  padding-bottom: 1px;
  color: black;  
}

.feedAddComment {
    margin-top: 10px;
    float: left;
    clear: both;
    height: 50px;
    width: 650px;
    
    padding-top: 5px;
    padding-left: 5px;

    border: none;
    /*background-color:#E7F3FF;*/ 
    
    font-size: 14px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    resize: none;
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.commentOnPost {
  /* submit button properties */
    float: left;
    height: 50px;
    width: 65px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #223D8F;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #223D8F;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }

.commentOnPost:hover{
cursor: pointer;
    }  





















