body {
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
   background-color: white;
}

#teamControlButton{
    position: absolute;
    top: 0px;
    left: 0px;
}

button.teamControl {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    background-color: #223D8F;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #223D8F;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

button.teamControl:hover {
    cursor: pointer;
}

/*popup div to register player */
#teamControlPopup {
    z-index: 997;
    width: 900px;
    height: 500px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px; /*set to a negative number 1/2 of your height*/
    margin-left: -450px; /*set to a negative number 1/2 of your width*/
    background-color: white;
    color: #223D8F;
    text-align: center;
    vertical-align: middle;
    /*opacity: 0.95;*/
    visibility: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #223D8F;
    
     /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    /* box shadowing */
-moz-box-shadow: 3px 3px 3px 3px #CFCDCD;
-webkit-box-shadow: 3px 3px 3px 3px #CFCDCD;
box-shadow: 3px 3px 3px 3px #CFCDCD;
}

#teamControlTitle {
    width: 800px;
    height: 40px;
    position:fixed;
    top: 140;
    left: 50%;
    /*margin-top: -250px; /*set to a negative number 1/2 of your height*/
    margin-left: -400px; /*set to a negative number 1/2 of your width*/
    background-color: #223D8F;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 5px;
    font-size: 20px;
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#teamControlOutsideBox {
    width: 800px;
    height: 340px;
    position:fixed;
    top: 220;
    left: 50%;
    /*margin-top: -250px; /*set to a negative number 1/2 of your height*/
    margin-left: -400px; /*set to a negative number 1/2 of your width*/
    background-color: white;
    color: #223D8F;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: #223D8F;
    
     /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
     /* box shadowing */
-moz-box-shadow: 3px 3px 3px 3px #CFCDCD;
-webkit-box-shadow: 3px 3px 3px 3px #CFCDCD;
box-shadow: 3px 3px 3px 3px #CFCDCD;
}


#teamControlCreatorTitle {
    position: absolute;
    top: 15px;
    left: 310px;
    font-size: 14px;
}

#teamControlCreator {
    position: absolute;
    top: 15px;
    left: 405px;
    font-size: 14px;
    color: black;
}

#teamControlCreatorExplanation {
    position: absolute;
    top: 40px;
    left: 220px;
    font-size: 12px;
}

#teamControlRemoveExplanation {
    position: absolute;
    top: 100px;
    left: 10px;
}

#teamControlRemoveWarning {
    position: absolute;
    top: 175px;
    left: 45px;
    color: red;
    font-size: 12px;
}

#teamControlDropdownList {
    position: absolute;
    top: 160px;
    left: 150px;
}

select, option { width: 100px; }

#teamControlRemove {
    position: absolute;
    top: 240px;
    left: 150px;
}

#teamControlAddExplanation {
    position: absolute;
    top: 100px;
    left: 440px;
}

#teamControlAdd {
    position: absolute;
    top: 160px;
    left: 535px;
}

#teamControlAddSubmit {
    position: absolute;
    top: 240px;
    left: 565px;
}








input {
    border-style: solid;
    border-width: 1px;
    border-color: #223D8F;
    background-color: white;
}

/*input text box css */
 input[type="submit"]{
/* submit button properties */
background-color: /*#515B68*/white;
color: #223D8F;
border-style: solid;
border-width: 2px;
border-color: #223D8F;
font-size: 14px;
border-radius: 10px;
    }

    input[type="submit"]:hover{
cursor: pointer;
    }

button.cancelControl {
    position:absolute;
    top: 300;
    left: 330;
    font-size: 14px;
    background-color: /*#515B68*/white;
    color: #223D8F;
    border-style: solid;
    border-width: 2px;
    border-color: #223D8F;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

button.cancelControl:hover {
    cursor: pointer;
}
