body {
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
   background-color: white;
}

#teamDetailsTitle {
    z-index: 1;
    height: 30px;
    width: 300px;
    
    position:absolute;
    top: 0px;
    left: 0px;
    
    font-size: 14px;
    font-weight: bold;
    background-color: #223D8F;
    color: white;
    
    text-align: center;
    vertical-align: middle;
    line-height: 5px;
    overflow: hidden;
    
         /* box shadowing 
-moz-box-shadow: 3px 3px 3px 3px #CFCDCD;
-webkit-box-shadow: 3px 3px 3px 3px #CFCDCD;
box-shadow: 3px 3px 3px 3px #CFCDCD;*/
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#allTeamDetails {
    height: 150px;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 0px;
}

#allTeamDetails:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #223D8F;
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#teamDetailsTeamNameTitle {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

#teamDetailsStadiumTitle {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

#teamDetailsSponsorTitle {
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

#teamDetailsFoundedTitle {
    position: absolute;
    top: 90px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

#teamDetailsTeamName {
    position: absolute;
    top: 0px;
    left: 90;
    font-size: 14px;
    color: #223D8F;
}

#teamDetailsStadium {
    position: absolute;
    top: 30px;
    left: 90;
    font-size: 14px;
    color: #223D8F;
}

#teamDetailsSponsor {
    position: absolute;
    top: 60px;
    left: 90;
    font-size: 14px;
    color: #223D8F;
}

#teamDetailsFounded {
    position: absolute;
    top: 90px;
    left: 90;
    font-size: 14px;
    color: #223D8F;
}

#teamDetailsPopup {
    z-index: 999;
    width: 700px;
    height: 500px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px; /*set to a negative number 1/2 of your height*/
    margin-left: -350px; /*set to a negative number 1/2 of your width*/
    background-color: white;
    color: #223D8F;
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #223D8F;
    
     /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
     /* box shadowing */
-moz-box-shadow: 3px 3px 3px 3px #CFCDCD;
-webkit-box-shadow: 3px 3px 3px 3px #CFCDCD;
box-shadow: 3px 3px 3px 3px #CFCDCD;
}

#teamDetailsPopupTitle {
    z-index: 1;
    height: 30px;
    width: 300px;
    
    position:absolute;
    top: 70px;
    left: 200px;
    
    font-size: 14px;
    font-weight: bold;
    background-color: #223D8F;
    color: white;
    
    text-align: center;
    vertical-align: middle;
    line-height: 5px;
    overflow: hidden;
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#editTeamDetailsTeamName {
    position: absolute;
    top: 132px;
    right: 410px;
    
    font-size: 12px;  
}

#editTeamDetailsTeamNameText {
   position: absolute;
    top: 140px;
    left: 320px; 
}

#editTeamDetailsStadium {
    position: absolute;
    top: 172px;
    right: 410px;
    
    font-size: 12px;  
}

#editTeamDetailsStadiumText {
   position: absolute;
    top: 180px;
    left: 320px; 
}

#editTeamDetailsSponsor {
    position: absolute;
    top: 212px;
    right: 410px;
    
    font-size: 12px;  
}

#editTeamDetailsSponsorText {
   position: absolute;
    top: 220px;
    left: 320px; 
}

#editTeamDetailsFounded {
    position: absolute;
    top: 252px;
    right: 410px;
    
    font-size: 12px;  
}

#editTeamDetailsFoundedText {
   position: absolute;
    top: 260px;
    left: 320px; 
}


#editTeamDetailsButtons {
    position: absolute;
    top: 400px;
    left: 300px;
}

/*input text box css */
 input[type="submit"]{
/* submit button properties */
background-color: /*#515B68*/white;
color: #223D8F;
border-style: solid;
border-width: 2px;
border-color: #223D8F;
font-size: 12px;
border-radius: 10px;
    }

    input[type="submit"]:hover{
cursor: pointer;
    }

button.cancelTeamDetailsButton {
    font-size: 12px;
    background-color: /*#515B68*/white;
    color: #223D8F;
    border-style: solid;
    border-width: 2px;
    border-color: #223D8F;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

button.cancelTeamDetailsButton:hover {
    cursor: pointer;
}


#cancelTeamDetails{
    position: absolute;
    top: 0px;
    left: 55px;
}

#teamNameNotFilledIn {  
z-index: 999;
font-size: 12px;
position: absolute;
    top: 355px;
    left: 275px; 
visibility: hidden;
}