body {
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#teamEditeventbuttons {
    position: absolute;
    top: 420px;
    left: 270px;
}

#teamEditeventcancelbutton {
    position: absolute;
    top: 420px;
    left: 240px;
}

button.canceledit {
    font-size: 12px;
    background-color: /*#515B68*/white;
    color: #223D8F;
    border-style: solid;
    border-width: 2px;
    border-color: #223D8F;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

button.canceledit:hover {
    cursor: pointer;
}

#teamSubmiteditevent{
    position: absolute;
    top: 0px;
    left: 15px;
}

#teamCanceleditevent{
    position: absolute;
    top: 0px;
    left: 70px;
}

#teamNoeventstoedit{
    position: absolute;
    top: 200px;
    left: 135px;
}

#teamEventstoedit{
    position: absolute;
    top: 130px;
    left: 230px;
}

#teamEditeventsdropdown {
    position: absolute;
    top: 190px;
    left: 305px;
}

#teamEditeventbuttons2 {
    position: absolute;
    top: 420px;
    left: 270px;
}

#teamSubmiteditevent2{
    position: absolute;
    top: 0px;
    left: 0px;
}

#teamCanceleditevent2{
    position: absolute;
    top: 0px;
    left: 85px;
}

/*error message properties */
#teamEditeventnotfilledin {  
z-index: 999;
font-size: 12px;
position: absolute;
    top: 385px;
    left: 230px; 
visibility: hidden;
}