body {
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
   background-color: white;
}

#viewTeamDetailsTitle {
    z-index: 1;
    height: 30px;
    width: 300px;
    
    position:absolute;
    top: 0px;
    left: 0px;
    
    font-size: 14px;
    font-weight: bold;
    background-color: #223D8F;
    color: white;
    
    text-align: center;
    vertical-align: middle;
    line-height: 5px;
    overflow: hidden;
    
         /* box shadowing 
-moz-box-shadow: 3px 3px 3px 3px #CFCDCD;
-webkit-box-shadow: 3px 3px 3px 3px #CFCDCD;
box-shadow: 3px 3px 3px 3px #CFCDCD;*/
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#allviewTeamDetails {
    height: 150px;
    width: 300px;
    position: absolute;
    top: 30px;
    left: 0px;
}

#viewTeamDetailsTeamNameTitle {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

#viewTeamDetailsStadiumTitle {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

#viewTeamDetailsSponsorTitle {
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

#viewTeamDetailsFoundedTitle {
    position: absolute;
    top: 90px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}

#viewTeamDetailsTeamName {
    position: absolute;
    top: 0px;
    left: 90;
    font-size: 14px;
    color: #223D8F;
}

#viewTeamDetailsStadium {
    position: absolute;
    top: 30px;
    left: 90;
    font-size: 14px;
    color: #223D8F;
}

#viewTeamDetailsSponsor {
    position: absolute;
    top: 60px;
    left: 90;
    font-size: 14px;
    color: #223D8F;
}

#viewTeamDetailsFounded {
    position: absolute;
    top: 90px;
    left: 90;
    font-size: 14px;
    color: #223D8F;
}
