body {
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
   background-color: white;
}

#viewProfileAboutMeTitle {
    z-index: 1;
    height: 30px;
    width: 300px;
    
    position:absolute;
    top: 0px;
    left: 0px;
    
    font-size: 14px;
    font-weight: bold;
    background-color: #223D8F;
    color: white;
    
    text-align: center;
    vertical-align: middle;
    line-height: 5px;
    overflow: hidden;
    
         /* box shadowing 
-moz-box-shadow: 3px 3px 3px 3px #CFCDCD;
-webkit-box-shadow: 3px 3px 3px 3px #CFCDCD;
box-shadow: 3px 3px 3px 3px #CFCDCD;*/
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#viewProfileAboutMeIntro {
    z-index: 1;
    height: 150px;
    width: 300px;
    
    position:absolute;
    top: 32px;
    left: 0px;
    
    font-size: 14px;
    background-color: white;
    color: #223D8F;
    
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    
    /*border-style: solid;
    border-width: 1px;
    border-color: #223D8F;*/
}