/* font of the whole of the body */
body {
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.seasonStatsTitle {
    z-index: 1;
    height: 30px;
    width: 100%;
    
    position:absolute;
    top: 0px;
    left: 0px;
    
    font-size: 14px;
    font-weight: bold;
    background-color: #223D8F;
    color: white;
    
    text-align: center;
    vertical-align: middle;
    line-height: 5px;
    overflow: hidden;
    
         /* box shadowing 
-moz-box-shadow: 3px 3px 3px 3px #CFCDCD;
-webkit-box-shadow: 3px 3px 3px 3px #CFCDCD;
box-shadow: 3px 3px 3px 3px #CFCDCD;*/
    
    /* rounding the corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.seasonStatsTable {
    width: 100%;
    border-collapse: collapse;
    border-top: solid;
    border-color: #223D8F;
    border-width: 3px;
    
    position: absolute;
    top:40px;
    left: 0px;
}

.seasonStatsTable th{
    text-align: center;
    font-size: 12px;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.seasonStatsTable td{
    text-align: center;
    color: #223D8F;
    font-size: 30px;
    
    padding-top: 5px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgrey;
}